__pycache__
__pycache__/
__pycache__/*
nircamx/__pycache__
nircamx/__pycache__/
nircamx/__pycache__/*
nircamx/nircamx.egg-info
nircamx/nircamx.egg-info/
nircamx/nircamx.egg-info/*
nircamx.egg-info
nircamx.egg-info/
nircamx.egg-info/*
